# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LabOne.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Oleksandr\Desktop\Univer\Programming\LabOne\.idea\.idea.LabOne\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
